.content {
  grid-area: c;
  background-color: greenyellow
}

.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;

}

.dialogsItems {
  padding: 10px
}

.dialogsItems .active{
  color: chocolate;
}

.messages {
  padding: 10px;

}

.messages .message {

}



